footer{
    z-index: 9999999;
    
}
.site-footer {
    background-color: #000; 
    color: #eeece6; 
    /* padding: 25px; */
    width: 100vw;
    box-sizing: border-box;
    min-height: 250px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    
}

.footer-content {
    width: 100%;
width: 100vw;
    margin: 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    align-items: center;
}

.footer-logo {
    max-width: 250px; 
    height: auto;
    fill: #ffffff; 
}

.footer-info {
    max-width: 100%;
}

.footer-business-name {
    font-size: 15px !important;
  letter-spacing:3px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-business-address,
.footer-business-phone {
    font-size: 13px;
    margin: 5px 0;
    line-height: 1.5;
    text-align: justify;
  letter-spacing:1px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav li {
    margin-right: 15px;
    margin-bottom: 10px;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
  letter-spacing:2px;
  /* text-transform:uppercase; */
}

.footer-nav a:hover {
    color: #d1bfa7; /* Lightened color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr; /* Stack columns vertically on small screens */
        text-align: center;
      transform:scale(0.90);
    }

    .footer-nav ul {
        justify-content: center;
    }
}
