@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@400&display=swap");
:root {
  --Color_Gold: #ab9100;
}

.wraper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000000;
  top: 0;
  width: 100%;
  height: 4.5rem;
  z-index: 999;
  backdrop-filter: blur(10px);
  margin-right: 0.3rem;
  padding: 0 20px;
  transition: 0.3s ease;
}
header.active1 {
  background-color: #a1a1a196;
  height: 3rem;
}
header .logo {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-decoration: none;
  margin-left: 1rem;
  z-index: 99999;
}
header .menu {
  width: fit-content;
  height: 100%;
  display: flex;
  transition: 0s;
}
header .menu-shadow {
  display: none;
}
header .menu .close-menu {
  display: none;
}
.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  padding: 0rem 0.5rem;
  height: 100%;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 1px;
}
header .menu a:hover,
header .menu a.active {
  /* font-weight: 600; */
  color: var(--Color_Gold);
  transition: color 0.1s ease-in;

  background-image: linear-gradient(to right, #f6e27a 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #d3b107 100%);
  color: transparent;
  -webkit-background-clip: text;
}
header.active1 .menu a:hover,
header.active1 .menu a.active {
  background-color: var(--Color_Gold);
  color: #fff;
}

header .show-bar {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
header .show-bar:hover {
  background-color: #dddddd63;
}
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  scroll-snap-align: start;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.section .section-span {
  font-size: 4.5rem;
  font-weight: 650;
  color: #000;
  opacity: 0;
  transform: scale(0);
  text-transform: uppercase;
}
.section:nth-child(even) .section-span {
  transform: translateX(100vw);
}
.section:nth-child(odd) .section-span {
  transform: translateX(-100vw);
}
.section.active-sec .section-span {
  transition: transform 1.5s ease;
  transform: translateX(0) scale(1);
  opacity: 1;
}
@media (max-width: 750px) {
  body header .menu {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh !important;
    flex-direction: column;
    background-color: #000;
    padding: 0;
    padding-top: 3.5rem;
    z-index: 99999;
    /* height: 100vh !important; */
    overflow-y: auto;
    transition: left 0.5s linear;
  }
  body header .menu-active {
    left: 0;
  }
  header .menu-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000b7;
    backdrop-filter: blur(50px);
  }
  header .shadow-active {
    display: block;
    /* height: 100vh; */
  }
  header .menu a {
    text-align: center;
    color: #fff;
    height: 4rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 0;
    transition: 0s;
  }
  header .menu a.active {
    font-weight: 600;
    background-image: linear-gradient(to right, #f6e27a 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #d3b107 100%);

    color: transparent;
    -webkit-background-clip: text;
  }
  header .menu a:hover {
    color: #fff;
    font-weight: 600;
  }
  header .show-bar {
    display: block;
  }
  header .hide-bar {
    display: none;
  }
  header .menu .close-menu {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 30px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 0;
    color: #fff;
    cursor: pointer;
  }
}
